.conclusion{
    
    padding: 2rem;
.conclusions{
display: flex;
position: fixed;
bottom: 5%; 
left: 32%;
gap: 3rem;
width: 30%;
border-radius: 3rem;
.status{
margin-left: 0.6rem;
}
.bx{
    font-size: 1.5rem;
    color: black;
}
    border: 1px solid gray;
    padding: 0.5rem 1.5rem;
}
.more{
display: flex;
gap: 1rem;
}
.layout{
    display: flex;
    gap: 1rem;
}
}
@media(max-width:780px){
    .conclusion{
    
        padding: 2rem;
    .conclusions{
    display: flex;
    position: fixed;
    bottom: 5%; 
    left: 42.5%;
    gap: 1rem;
    width: 22.5%;
    border-radius: 3rem;
    .status{
    margin-left: 0.6rem;
    }
    .bx{
        font-size: 1.3rem;
        color: black;
    }
        border: 1px solid gray;
        padding: 0.5rem 1.5rem;
    }
    .more{
    display: flex;
    gap: 0.4rem;
    }
    .layout{
        display: none;
    }
    }
}
@media(max-width:520px){
    .conclusion{
     padding: 2rem;
    .conclusions{
    display: flex;
    position: fixed;
    bottom: 5%; 
    left: 31%;
    gap: 1.5rem;
    width: 34%;
    border-radius: 3rem;
    .status{
    margin-left: 0.6rem;
    }
    .bx{
        font-size: 1.2rem;
        color: black;
    }
        border: 1px solid gray;
        padding: 0.5rem 1.5rem;
    }
    .more{
    display: flex;
    gap: 0.5rem;
    }
    .layout{
        display: none;
    }
    }    
}
@media(max-width:484px){
    .conclusion{
     padding: 2rem;
    .conclusions{
    display: flex;
    position: fixed;
    bottom: 5%; 
    left: 33%;
    gap: 1rem;
    width: 35%;
    border-radius: 3rem;
    .status{
    margin-left: 0.6rem;
    }
    .bx{
        font-size: 1.2rem;
        color: black;
    }
        border: 1px solid gray;
        padding: 0.5rem 1.5rem;
    }
    .more{
    display: flex;
    gap: 0.5rem;
    }
    .layout{
        display: none;
    }
    }    
}
@media(max-width:428px){
    .conclusion{
     padding: 2rem;
    .conclusions{
    display: flex;
    position: fixed;
    bottom: 5%; 
    left: 29%;
    gap: 1rem;
    width: 38%;
    border-radius: 3rem;
    .status{
    margin-left: 0.4rem;
    }
    .bx{
        font-size: 1.2rem;
        color: black;
    }
        border: 1px solid gray;
        padding: 0.5rem 1.5rem;
    }
    .more{
    display: flex;
    gap: 0.5rem;
    }
    .layout{
        display: none;
    }
    } 
}
@media(max-width:360px){
    .conclusion{
    
        padding: 2rem;
    .conclusions{
    display: flex;
    position: fixed;
    bottom: 5%; 
    left: 25%;
    gap: 1rem;
    width: 47%;
    border-radius: 3rem;
    .status{
    margin-left: 0.6rem;
    }
    .bx{
        font-size: 1.2rem;
        color: black;
    }
        border: 1px solid gray;
        padding: 0.5rem 1.5rem;
    }
    .more{
    display: flex;
    gap: 0.5rem;
    }
    .layout{
        display: none;
    }
    }    
}