.contacts {
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  .contact {
    display: flex;
    padding-top: 1rem;
    gap: 0.5rem;
    a {
      display: flex;
      color: black;
      align-items: center;
      justify-content: center;
      padding: 0.2rem 0.5rem;
      border-radius: 0.5rem;
      &:hover {
        color: white;
        background-color: black;
        border: 1px solid black;
        transition: 0.5s;
      }
      text-decoration: none;
      border: 1px solid black;
      align-items: center;
    }
    .bx {
      align-items: center;
      margin-right: 7px;
    }
  }
}
@media (max-width: 788px) {
  .contacts {
    padding-bottom: 0.1rem;
    .contact {
      flex-direction: column;
      display: flex;
      padding-top: 1rem;
      gap: 0.5rem;
      a {
        display: flex;
        // align-items: center;
        // justify-content: center;
        padding: 0.2rem 0.3rem;
        border-radius: 0.5rem;
        &:hover {
          background-color: black;
          color: white;
        }
        text-decoration: none;
        border: 1px solid black;
        // align-items: center;
      }
      .bx {
        align-items: center;
        margin-right: 7px;
      }
    }
  }
}
@media (max-width: 360px) {
  .contacts {
    padding-top: 1.5rem;
    padding-bottom: 0.1rem;
    .contact {
      display: flex;
      flex-direction: column;
      padding-top: 1rem;
      gap: 0.5rem;
      a {
        padding: 0.5rem 0.5rem;
        border-radius: 0.5rem;
        &:hover {
          background-color: black;
          color: white;
        }
        text-decoration: none;
        border: 1px solid black;
              }
      .bx {
        align-items: center;
        margin-right: 7px;
      }
    }
  }
}
