* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body {
  padding-left: 18rem;
  padding-right: 18rem;
  p {
    color: #7a7a82;
  }
}
@media (max-width: 945px) {
  body {
    padding-left: 14rem;
    padding-right: 10rem;
  }
}
@media (max-width: 788px) {
  body {
    padding-left: 14rem;
    padding-right: 10rem;
  }
}
@media (max-width: 720px) {
  body {
    padding-left: 9rem;
    padding-right: 7rem;
     }
}
@media (max-width: 615px) {
  body {
    padding-left: 7rem;
    padding-right: 7rem;
     }
}
@media (max-width: 570px) {
  body {
    padding-left: 7rem;
    padding-right: 7rem;
     }
}
@media (max-width: 520px) {
  body {
    padding-left: 3rem;
    padding-right: 7rem;
     }
}
@media (max-width: 484px) {
  body {
    padding-left: 6rem;
    padding-right: 7rem;
    p {
      color: #7a7a82;
    }
  }
}
@media (max-width: 428px) {
  body {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 360px) {
  body {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
