.projects {
  padding-top: 2rem;
  .project {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }
  .name {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    padding-bottom: 0.5rem;
    h3{
      color: white;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
  p {
    color: white;
    padding: 0.3rem 1rem;
    font-size: 14px;
  }
  .languages {
    padding: 1rem;
    padding-top: 0.5rem;
    display: flex;
    gap: 5px;
    p {
      color: white;
      padding: 1rem;
      border: 0.5px solid gray;
      padding: 5px 1rem;
      border-radius: 1rem;
      font-size: 13px;
    }
  }
  .first-project {
    background-color: rgb(18, 11, 11);
    border-radius: 10px;
    border: 0.5px solid gray;
    // padding: 1rem;
    img {
      width: 100%;
      height: 10rem;
      padding: 0;
      object-fit: cover;
    }
  }
}
@media (max-width: 945px) {
}
@media (max-width: 788px) {
}
@media (max-width: 360px) {
  .projects {
    padding-top: 2rem;
    .project {
      padding-top: 1rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 1rem;
    }
    .name {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1rem;
      a {
        text-decoration: none;
        color: black;
      }
    }
    p {
      font-size: 14px;
    }
    .languages {
      padding-top: 1rem;
      display: flex;
      gap: 5px;
      p {
        border: 0.5px solid gray;
        padding: 3.5px 1rem;
        border-radius: 1rem;
        font-size: 13px;
      }
    }
    .first-project {
      border: 0.5px solid gray;
      padding: 1rem;
    }
  }
}
